<div class="container">
  <div class="row">
    <div class="col-12">
      <svg [attr.width]="grid * sizeX" [attr.height]="grid * sizeY" style="margin: 8px;">
        <g style="font-family: 'Calibri'; font-size: 13pt;">
          <ng-container *ngIf="showBackgroundGrid">
            <ng-container *ngFor="let x of sizeX + 1 | range">
              <line
                [attr.x1]="x * grid" [attr.x2]="x * grid" [attr.y1]="0" [attr.y2]="sizeY * grid"
                [style.stroke]="gridColor"
                [style.opacity]="gridOpacity"
                style="stroke-width: 1px;"
              ></line>
            </ng-container>
            <ng-container *ngFor="let y of sizeY + 1 | range">
              <line
                [attr.y1]="y * grid" [attr.y2]="y * grid" [attr.x1]="0" [attr.x2]="sizeX * grid"
                [style.stroke]="gridColor"
                [style.opacity]="gridOpacity"
                style="stroke-width: 1px;"
              ></line>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let tile of listing">
            <g [attr.transform]="'translate(' + (tile.x * grid) + ', ' + (tile.y * grid) + ')'"
               [style.fill]="tileTypeColors[tile.type]"
               [style.stroke]="tileBorderColor"
               style="stroke-width: 0; stroke-opacity: 0.5; fill-opacity: 0.8">
              <ng-container *ngIf="tileTemplateSizes[tile.template]; let template">
                <ng-container *ngIf="[template.w, template.h] | min; let smallest">
                  <ng-container *ngIf="grid * template.w; let gw">
                    <ng-container *ngIf="grid * template.h; let gh">
                      <ng-container *ngFor="let a of [90 * tile.r]">
                        <g
                          [attr.transform]="'rotate(' + a + ' ' + (smallest * grid / 2) + ' ' + (smallest * grid / 2) + ' )'">
                          <path
                            [attr.d]="template | path: {grid: grid, inset: 0}"
                          ></path>
                          <ng-container *ngFor="let clip of template.clips">
                            <ng-container *ngIf="clip.vertical ? clipSizeVertical : clipSizeHorizontal; let clipSize">
                              <g
                                [attr.transform]="'translate(' + ((clip.x - clipSize / 2) * grid) + ' ' + (clip.y * grid) + ')'">
                                <g
                                  [attr.transform]="'rotate(' + (clip.r * 90) + ' ' + (clipSize * grid / 2) + ' ' + 0 + ')'">
                                  <path
                                    [attr.d]="'M 0,0 A ' + (clipSize * grid / 2) + ',' + (grid * 0.23) + ',0,0,0,' + (clipSize * grid) +',0'"
                                    [attr.cx]="0" [attr.cy]="0" [attr.r]="grid * 0.4"
                                    [attr.fill]="tileTypeColors[tile.type]"
                                    style="fill-opacity: 1.0; stroke-opacity: 0.5; stroke: #4e4e4e; stroke-width: 1px;"
                                  ></path>
                                </g>
                              </g>
                            </ng-container>
                          </ng-container>
                          <path
                            [attr.d]="template | path: {grid: grid, inset: margin + border / 2}"
                            [style.stroke-width]="border" style="fill: none;"
                          ></path>
                          <ng-container *ngIf="tile.type === 'door'">
                            <path
                              [attr.d]="template | path: {grid: grid, inset: grid * 0.25}"
                              style="opacity: 0.7; fill: white; stroke-width: 1px;"
                            ></path>
                          </ng-container>
                        </g>
                        <ng-container *ngIf="tile.type === 'floor'">
                          <ng-container *ngFor="let tx of (template.w / 2 - 1) | range: 1">
                            <line
                              [attr.x1]="2 * grid * tx" [attr.y1]="margin + border"
                              [attr.x2]="2 * grid * tx" [attr.y2]="gh - margin - border"
                              [attr.opacity]="floorGridOpacity"
                              [style.stroke-width]="border" style="stroke: black;"
                            ></line>
                          </ng-container>
                          <ng-container *ngFor="let ty of (template.h / 2 - 1) | range: 1">
                            <line
                              [attr.y1]="2 * grid * ty" [attr.x1]="margin + border"
                              [attr.y2]="2 * grid * ty" [attr.x2]="gw - margin - border"
                              [attr.opacity]="floorGridOpacity"
                              [style.stroke-width]="border" style="stroke: black;"
                            ></line>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </g>
          </ng-container>
          <ng-container *ngFor="let tile of listing">
            <ng-container *ngIf="tileTemplateSizes[tile.template]; let template">
              <ng-container *ngIf="[template.w, template.h] | min; let smallest">
                <g
                  [attr.transform]="'rotate(' + (90 * tile.r) + ' ' + (tile.x * grid + smallest * grid / 2) + ' ' + (tile.y * grid + smallest * grid / 2) + ' )'">
                  <g
                    [attr.transform]="'translate(' + ((tile.x + template.cw * template.w) * grid) + ' ' + ((tile.y + template.ch * template.h) * grid) + ')'">
                    <text x="0" y="0"
                          [style.fill]="tileTypeTextColors[tile.type]"
                          [attr.transform]="'rotate(' + (-90 * tile.r) + ')'"
                          dominant-baseline="middle" alignment-baseline="central" text-anchor="middle"
                          style="stroke: none; font-weight: bold;">
                      {{tile.template}}
                    </text>
                  </g>
                </g>
              </ng-container>
            </ng-container>
          </ng-container>
        </g>
      </svg>
    </div>
  </div>
</div>
